<div class="header">
  <h1>Attendance Management</h1>
</div>
<div class="container">
  <div class="calendar">
    <mat-calendar [(selected)]="selectedDate" [dateFilter]="myDateFilter" (selectedChange)="onSelect($event)"></mat-calendar>
  </div>
  
  <div *ngIf="showTimeOff" class="right">
    <table class="table">
      <thead>
        <tr>
          <th style="font-weight: 500; font-size: 20px;">Balances</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of balanceArray">
         <td>{{ data }}</td>
         <td>1 Day</td>
        </tr>
      </tbody>
   </table>
   <table class="table">
      <thead>
        <tr>
          <th style="font-weight: 500; font-size: 20px;">Upcoming TimeOff</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of holidayArray">
         <td>{{ data }}</td>
         <td>Holiday</td>
        </tr>
      </tbody>
   </table>
  </div>
  <div *ngIf="showAbsence" class="createAbsence">
      <form [formGroup]="form" class="leave-form">
         <mat-form-field appearance="fill">
            <mat-label>Leave Type</mat-label>
            <mat-select formControlName="leavetype">
              <mat-option value="option">Earned Leave</mat-option>
              <mat-option value="option">Special Leave</mat-option>
            </mat-select>
          </mat-form-field>

         <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput formControlName="availabledays">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="caldate1" (dateChange)="dateChanged1($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" id="datePicker2">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="caldate2" (dateChange)="dateChanged2($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>No. of Days</mat-label>
            <input matInput formControlName="totaldays">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Comment is required!</mat-label>
            <textarea matInput formControlName="comments"></textarea>
          </mat-form-field>

      </form>
  </div>
</div>
<div class="card createBtn">
   <div><button class="btn btn-dark btnC" (click)="showDialog()">Create Absence</button></div>
   <div *ngIf="isBtnShown">
      <span><button class="btn btn-dark btnV" (click)="onSubmit()">Submit</button></span>
      <span><button class="btn btn-light btnE" (click)="goBack()">Cancel</button></span>
   </div>
</div>
