.mat-calendar {
width: 400px;
}

.header {
   height: 70px;
   background-image: linear-gradient(to left,rgb(65, 63, 65),rgb(169, 169, 176),rgb(60, 59, 60));
}

.header>h1 {
   color: #fff;
   font-family: sans-serif;
   position: absolute;
   top: 20px;
   left: 10px;
}

.container {
   display: flex;
   position: absolute;
   top: 5em;
   left: 8em;
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
   max-width: 70em;
}

.vl {
   margin-left: 10px;
   border-left:1px solid rgb(220, 217, 217);
   height:500px
}

:host ::ng-deep .mat-calendar-body-selected {
   background-color: rgb(75, 73, 75) !important;
   color: #fff;
}

:host ::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
   background-color: rgb(169, 169, 176) !important;
}

.table {
   width: 500px;
   margin-left: 25px;
   line-height: 35px;
}

.right {
   display: flex;
   flex-direction: column;
   height: 500px;
   justify-content: space-evenly;
}

.createBtn {
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
   background-color: black;
}