<div class="main-container">
  <div class="navbar has-background-dark">
     <div class="navbar-brand">
        <div class="navbar-item">

           <h1 class="nav-name has-gradient-text">Kanban</h1>

        </div>
     </div>
  </div>

  <div class="col-md-3 row_alignment">
            <mat-card class="mt-3">
                <form class="form-field" [formGroup] = "todoForm">
                  <mat-form-field appearance="outline">
                          <mat-label>Task Name</mat-label>
                          <input formControlName="item" matInput placeholder="Placeholder">
                          
                          <mat-hint>Add task name</mat-hint>
                        </mat-form-field>
                        <button *ngIf="!isEditEnabled" (click)="addTask()" class="btn-add" mat-raised-button [disabled] = "todoForm.invalid" color="primary">Add</button>
                        <button *ngIf="isEditEnabled" (click)="updateTask()" class="btn-add" mat-raised-button [disabled] = "todoForm.invalid" color="primary">Update</button>
                </form>
            </mat-card>
        </div>

  <!-- <div class="board">

     <div class="board-bar">
        <div class="board-name">Board Name</div>
     </div>
  
     <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
           <div class="board-column">

              <div class="column-title">To Work On</div>

              <div class="tasks-container" 
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              (cdkDropListDropped)="drop($event)">

                 <div class="task" *ngFor="let data of todo" cdkDrag>
                    {{ data }}
                 </div>
              </div>
           </div>

           <div class="board-column">
              <div class="column-title">In Progress</div>

              <div class="tasks-container" 
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="done"
              (cdkDropListDropped)="drop($event)">

                 <div class="task" *ngFor="let data of done" cdkDrag>
                    {{ data }}
                 </div>
              </div>
           </div>

           <div class="board-column">
              <div class="column-title">Done</div>

              <div class="tasks-container" 
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              (cdkDropListDropped)="drop($event)">

                 <div class="task" *ngFor="let data of todo" cdkDrag>
                    {{ data }}
                 </div>
              </div>
           </div>

        </div>
     </div>
  
  </div> -->

</div>

