nav {
   height: 56px;
}

.navbar-collapse{
margin-left: 190px;
}

/* .side-nav-button {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   cursor: pointer;
}

.side-nav-button:hover {
   background-color: rgba(225, 225, 225, 0.2);
   border-radius: 30%;
} */